Repository coditory/go-errors, changes with the labels that .github/labeler.yml gives for each.
All labels: source, build, ci, documentation, license, git

.github/labeler.yml:

source:
  - "**/*.go"

build:
  - "Makefile"
  - "go.mod"
  - "go.sum"

ci:
  - ".github/**"

documentation:
  - "**/*.md"
  - "docs/**"

license:
  - "LICENSE"

git:
  - ".gitignore"

Add example to readme
  README.md
  errors.go
  samples/samples.go
  test/common_test.go
  test/errors_test.go
Labels: source, documentation

Explicit format
  README.md
  errors.go
  samples/samples.go
  test/errors_test.go
Labels: source, documentation

Relativize go sources
  README.md
  errors.go
Labels: source, documentation

Add verbosity levels and missing tests
  README.md
  config.go
  errors.go
  samples/samples.go
  test/common_test.go
  test/errors_test.go
  test/format_test.go
Labels: source, documentation

Replace tabs with spaces in readme
  README.md
  errors.go
Labels: source, documentation

Incerement default verbosity level
  README.md
  errors.go
Labels: source, documentation

Incerement default verbosity level - missing line
  config.go
Labels: source

Incerement more default verbosity level
  README.md
  config.go
  errors.go
  samples/samples.go
  test/errors_test.go
  test/format_test.go
Labels: source, documentation

Add stacktrace as slice and tests
  errors.go
  test/format_test.go
Labels: source

Add run command on make format
  Makefile
Labels: build
